<form [formGroup]="formGroup">
    <div class="p-grid">
        <div class="p-col">
            {{'projects.project.graph.components.file-output.properties.name.lbl' | translate}}
        </div>
        <div class="p-col">
            <div class="ui-inputgroup">
                <input type="text" formControlName="name" pInputText />
            </div>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col">
            {{'projects.project.graph.components.file-output.properties.filename.lbl' | translate}}
        </div>
        <div class="p-col">
            <div class="ui-inputgroup">
                <input type="text" formControlName="filename" pInputText />
            </div>
        </div>
    </div>
</form>