<div class="p-grid">
    <div class="p-col">
        <span class="p-buttonset">
            <button pButton type="button" icon="pi pi-bars" class="p-button-secondary"
                [routerLink]="['/runner']"></button>
            <button pButton type="button" icon="pi pi-pencil" [routerLink]="['/project', project?.id]" class="p-button-info"></button>
            <button pButton type="button" icon="pi pi-download" class="p-button-secondary"
                (click)="downloadProject()"></button>
        </span>
    </div>
</div>