<div class="p-grid">
    <div class="p-col">
        <button pButton type="button" icon="pi pi-bars" class="ui-button-secondary"
            [routerLink]="['/projects']"></button>
        <button pButton type="button" icon="pi pi-play" class="ui-button-success"></button>
        <button pButton type="button" icon="pi pi-cog" class="ui-button-secondary" (click)="openProperties()"></button>
        <button pButton type="button" icon="pi pi-download" class="ui-button-secondary"></button>
    </div>
</div>