<app-common-task></app-common-task>
<form [formGroup]="formGroup">
    <div class="p-grid">
        <div class="p-col-6">
            filename
        </div>
        <div class="p-col-6">
            <input type="text" pInputText formControlName="filename"/>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-6">
            input:
        </div>
        <div class="p-col-6">
            <app-output-task-input formControlName="input"></app-output-task-input>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-6">
            format:
        </div>
        <div class="p-col-6">
            <p-selectButton [options]="formats" formControlName="format"></p-selectButton>
        </div>
    </div>
    <div class="p-grid" *ngIf="task?.format === OutputTaskFormat.CSV">
        <div class="p-col-12">
            fields:
        </div>
        <div class="p-col-12">
            <app-output-task-fields formControlName="fields"></app-output-task-fields>
        </div>
    </div>
    <div class="p-grid" *ngIf="task?.format === OutputTaskFormat.PLAIN">
        <div class="p-col-6">
            outputKey:
        </div>
        <div class="p-col-6">
            <input type="text" pInputText formControlName="outputKey"/>
        </div>
    </div>
</form>