<p-toast styleClass="app-error-toast" position="top-center" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1;">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>
                    {{message?.summary}}
                </h4>
                <p *ngIf="message?.component">
                    {{message.component}}
                </p>
                <p>
                    {{message?.detail}}
                </p>
            </div>
            <div class="p-grid p-fluid" *ngIf="message?.stacktrace">
                <div class="p-col">
                    <p-panel header="{{'error-manager.stacktrace.lbl'| translate}}" [showHeader]="true"
                        [style]="{'width':'42vw'}" [toggleable]="true" [collapsed]="true">
                        <div style="overflow: auto;">
                            <dl>
                                <dt> {{ message?.stacktrace[0] }} </dt>
                                <dd *ngFor="let line of message?.stacktrace | slice:1">{{ line }}</dd>
                            </dl>
                        </div>
                    </p-panel>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>