<p-organizationChart #tree
                     [value]="[root]"
                     [selection]="selection"
                     (onNodeSelect)="onSelect($event)"
                     (onNodeUnselect)="onUnselect()"
                     selectionMode="single">
    <ng-template let-node pTemplate="default">
        {{node.label}}
        <i class="pi pi-file" *ngIf="node?.data?.type === TaskType.LOAD"></i>
        <i class="pi pi-sign-out" *ngIf="node?.data?.type === TaskType.OUTPUT"></i>
        <i class="pi pi-align-left" *ngIf="node?.data?.type === TaskType.SCRIPT"></i>
    </ng-template>
</p-organizationChart>
