<p-organizationChart #tree
                     [value]="[root]"
                     [selection]="selection"
                     (onNodeSelect)="onSelect($event)"
                     (onNodeUnselect)="onUnselect()"
                     selectionMode="single">
    <ng-template let-node pTemplate="default">
        {{node.label}}
    </ng-template>
    <ng-template let-node pTemplate="load">
        {{node.label}}
        <i class="pi pi-file"></i>
    </ng-template>
    <ng-template let-node pTemplate="output">
        {{node.label}}
        <i class="pi pi-sign-out"></i>
    </ng-template>
    <ng-template let-node pTemplate="script">
        {{node.label}}
        <i class="pi pi-align-left"></i>
    </ng-template>
</p-organizationChart>
