<p-dialog header=" {{'executor.execute-dialog.header' | translate}}" [(visible)]="visible" [modal]="true" [resizable]="false" [closable]="false"
    [draggable]="false" [style]="{'width':'50vw'}">
    <div class="p-grid">
        <div class="p-col">
            {{'executor.execute-dialog.state.lbl' | translate}} {{status?.state}}
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col">
            {{'executor.execute-dialog.status.lbl' | translate}} {{status?.executed}} / {{status?.total}}
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col">
            <p-progressBar [value]="status?.progress"></p-progressBar>
        </div>
    </div>
    <p-footer>
        <button pButton [disabled]="!cancelable" type="button" label="Cancel" (click)="cancel()"></button>
    </p-footer>
</p-dialog>