<div class="p-grid">
    <div class="ui-g-8 ui-g-offset-2">
        <p-organizationChart [value]="(nodes|async)">
            <ng-template let-node pTemplate="pending">
                <i class="pi pi-minus"></i>
                {{node.label}}
            </ng-template>
            <ng-template let-node pTemplate="running">
                <p-progressSpinner [style]="{width: '17px', height: '17px'}" [strokeWidth]="2"></p-progressSpinner>
                {{node.label}}
            </ng-template>
            <ng-template let-node pTemplate="completed">
                <i class="pi pi-check"></i>
                {{node.label}}
            </ng-template>
            <ng-template let-node pTemplate="failed">
                <i class="pi pi-exclamation-triangle"></i>
                {{node.label}}
            </ng-template>
        </p-organizationChart>
    </div>
</div>