<div class="p-grid">
    <div class="p-col">
        <button pButton type="button" icon="pi pi-upload" class="p-button-secondary"
            [label]="'p-fileUpload.btn.examples' | translate" (click)="uploadExamples()"></button>
    </div>
</div>
<div class="p-grid">
    <div class="p-col">
        <p-fileUpload [maxFileSize]="10000000" [customUpload]="true"
            accept="application/json" (uploadHandler)="onUpload($event)" [multiple]="true"
            chooseLabel="{{'p-fileUpload.btn.choose' | translate}}"
            uploadLabel="{{'p-fileUpload.btn.upload' | translate}}"
            cancelLabel="{{'p-fileUpload.btn.cancel' | translate}}"></p-fileUpload>
    </div>
</div>