:host ::ng-deep .ui-view3d-card {
    min-height: 40vh;
}

:host ::ng-deep .ui-view3d-card-fullscreen {
    min-height: 85vh;
}

:host ::ng-deep .ui-view3d-canvas {
    width: 100%;
    height: 100%;
}