<p-card #card>
    <p-header>
        <div class="p-grid p-nogutter">
            <div class="p-col">
                <h2 class="p-mt-2 p-mb-0 p-ml-2">{{view3DData?.name}}</h2>
            </div>
            <div class="p-col" style="text-align: right;">
                <i class="p-mr-1 p-mt-1 pi" [ngClass]="fullscreen ? 'pi-window-minimize' : 'pi-window-maximize'"
                    (click)="toggleFullscreen()"></i>
            </div>
        </div>
    </p-header>
    <div class="p-grid p-nogutter" [ngClass]="fullscreen ? 'ui-view3d-card-fullscreen' : 'ui-view3d-card'">
        <div class="p-col">
            <div #container class="ui-view3d-canvas"></div>
        </div>
    </div>
</p-card>