<p-panel [toggleable]="true">
    <p-header>
        <div class="p-grid">
            <div class="p-col-5">
                {{task?.name}}
            </div>
            <div class="p-col-2">
                <button pButton type="button" icon="pi pi-chevron-up" class="ui-button-secondary"></button>
                <button pButton type="button" icon="pi pi-chevron-down" class="ui-button-secondary"></button>
            </div>
            <div class="p-col-2">
                <button pButton type="button" icon="pi pi-trash" (click)="removeTask()" class="ui-button-danger"
                        *ngIf="task?.type !== TaskType.OUTPUT"></button>
            </div>
        </div>
    </p-header>
    <div class="p-grid">
        <div class="p-col-12" [ngSwitch]="task?.type">
            <app-load-task [task]="task" *ngSwitchCase="TaskType.LOAD"></app-load-task>
            <app-script-task [task]="task" *ngSwitchCase="TaskType.SCRIPT"></app-script-task>
            <app-output-task [task]="task" *ngSwitchCase="TaskType.OUTPUT"></app-output-task>
        </div>
    </div>
</p-panel>
