<div class="p-grid">
    <div class="p-col">
        <button pButton type="button" icon="pi pi-th-large" class="ui-button-secondary"
            [routerLink]="['/home']"></button>
        <button pButton type="button" icon="pi pi-plus" class="ui-button-success" (click)="createProject()"></button>
        <button pButton type="button" icon="pi pi-trash" class="ui-button-danger" (click)="deleteProjects()"></button>
        <button pButton type="button" icon="pi pi-download" class="ui-button-secondary"
            (click)="downloadProjects()"></button>
    </div>
</div>
<div class="p-grid">
    <div class="p-col-3">
        <p-listbox [checkbox]="true" [(ngModel)]="selection" [multiple]="true" [options]="projects"
            [styleClass]="'app-projects-manager-list'" [listStyle]="{'min-height':'50vh'}" [filter]="true"
            (onDblClick)="onDblClick($event)">
            <p-header>
                {{'project-manager.list.header' | translate}}
            </p-header>
        </p-listbox>
    </div>
</div>