<div class="p-grid">
    <div class="p-col">
        <span class="p-buttonset">
            <button pButton type="button" icon="pi pi-th-large" class="p-button-secondary"
                [routerLink]="['/home']"></button>
            <button pButton type="button" icon="pi pi-plus" class="p-button-success" (click)="createProject()"></button>
            <button pButton type="button" icon="pi pi-trash" class="p-button-danger"
                (click)="deleteProjects()"></button>
            <button pButton type="button" icon="pi pi-download" class="p-button-secondary"
                (click)="downloadProjects()"></button>
        </span>
    </div>
</div>
<div class="p-grid">
    <div class="p-col-3">
        <p-listbox #listBox [checkbox]="true" [(ngModel)]="selection" [multiple]="true" [options]="projects"
            [styleClass]="'app-projects-manager-list'" [listStyle]="{'min-height':'50vh'}" [filter]="true"
            (onDblClick)="onDblClick($event)">
            <p-header>
                {{'project-manager.list.header' | translate}}
            </p-header>
        </p-listbox>
    </div>
</div>