<p-dialog [(visible)]="display" [closable]="false" [contentStyle]="{'height': '50vh'}" [style]="{'width':'50vw'}"
    [closeOnEscape]="false" [modal]="true" [resizable]="false">
    <p-header>
        {{event?.title}}
    </p-header>

    <ng-container #container></ng-container>

    <p-footer>
        <button type="button" pButton icon="pi pi-save" label="Save" (click)="submit()"
            class="ui-button-success"></button>
        <button type="button" pButton icon="pi pi-times" label="Cancel" class="ui-button-warning"
            (click)="cancel()"></button>
    </p-footer>
</p-dialog>