<div class="p-grid">
    <div class="p-col">
        <app-executor-menu></app-executor-menu>
    </div>
</div>
<div class="p-grid">
    <div class="p-col">
        <h3>
            {{'executor.project.lbl' | translate}} {{project?.name}}
        </h3>
    </div>
</div>
<div class="p-grid">
    <div class="p-col-4" *ngFor="let fileInput of fileInputs()">
        <app-file-input-executor [fileInputData]="fileInput"></app-file-input-executor>
    </div>
</div>
<div class="p-grid">
    <div class="p-col p-col-align-center app-center-text">
        <button pButton type="button" label="{{'executor.btn.execute' | translate}}" (click)="execute()"
            class="p-button-success" icon="pi pi-play"></button>
    </div>
</div>