<div class="p-grid">
    <div class="p-col">
        <h3>Project: {{project?.name}}</h3>
    </div>
</div>
<div class="p-grid">
    <div class="p-col-4" *ngFor="let fileInput of fileInputs()">
        <app-file-input-executor [fileInputData]="fileInput"></app-file-input-executor>
    </div>
</div>
<div class="p-grid">
    <div class="p-col p-col-align-center app-center-text">
        <button pButton type="button" label="Execute" (click)="execute()" class="ui-button-success"
            icon="pi pi-play"></button>
    </div>
</div>