<div class="p-grid p-justify-start">
    <div class="p-col-3">
        <p-dropdown [options]="types" [(ngModel)]="type"></p-dropdown>
        <button pButton type="button" icon="pi pi-plus" class="ui-button-success"
                (click)="addTask()"></button>
        <button pButton type="button" icon="pi pi-trash" class="ui-button-danger"
                (click)="removeExecution()"></button>
        <button pButton type="button" icon="pi pi-cog"></button>
        <button pButton type="button" icon="pi pi-download" (click)="exportExecution()"
                class="ui-button-secondary"></button>
    </div>
</div>
<div class="p-grid">
    <div class="p-col-7">
        <app-tasks-trees></app-tasks-trees>
    </div>
    <div class="p-col-5">
        <app-tasks-menu></app-tasks-menu>
    </div>
</div>