<form [formGroup]="formGroup" (ngSubmit)="triggerSubmit()">
    <div class="p-grid">
        <div class="p-col">
            {{'projects.project.graph.components.file-input.properties.name.lbl' | translate}}
        </div>
        <div class="p-col">
            <div class="ui-inputgroup">
                <input type="text" formControlName="name" pInputText />
            </div>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col">
            {{'projects.project.graph.components.file-input.properties.mode.lbl' | translate}}
        </div>
        <div class="p-col">
            <div class="ui-inputgroup">
                <p-selectButton [options]="modes" formControlName="mode"></p-selectButton>
            </div>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col">
            {{'projects.project.graph.components.file-input.properties.encoding.lbl' | translate}}
        </div>
        <div class="p-col">
            <div class="ui-inputgroup">
                <p-dropdown [options]="encodings" formControlName="encoding"></p-dropdown>
            </div>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col">
            {{'projects.project.graph.components.file-input.properties.accept.lbl' | translate}}
        </div>
        <div class="p-col">
            <p-autoComplete [suggestions]="acceptSuggestions" (completeMethod)="filterSuggestions()"
                formControlName="accept" [dropdown]="true" [size]="15">
            </p-autoComplete>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col">
            {{'projects.project.graph.components.file-input.properties.multiple.lbl' | translate}}
        </div>
        <div class="p-col">
            <p-checkbox [binary]="true" formControlName="multiple"></p-checkbox>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col">
            {{'projects.project.graph.components.file-input.properties.extended-output.lbl' | translate}}            
        </div>
        <div class="p-col">
            <p-checkbox [binary]="true" formControlName="extendedOutput"></p-checkbox>
        </div>
    </div>
</form>