<form [formGroup]="formGroup" (ngSubmit)="triggerSubmit()">
    <div class="p-grid">
        <div class="p-col">
            {{'projects.project.graph.components.view3d.properties.name.lbl' | translate}}
        </div>
        <div class="p-col">
            <div class="ui-inputgroup">
                <input type="text" formControlName="name" pInputText />
            </div>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col">
            {{'projects.project.graph.components.view3d.properties.fov.lbl' | translate}}
        </div>
        <div class="p-col">
            <div class="ui-inputgroup">
                <input type="number" min="0" formControlName="fov" pInputText />
            </div>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col">
            {{'projects.project.graph.components.view3d.properties.near.lbl' | translate}}
        </div>
        <div class="p-col">
            <div class="ui-inputgroup">
                <input type="number" formControlName="near" pInputText />
            </div>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col">
            {{'projects.project.graph.components.view3d.properties.far.lbl' | translate}}
        </div>
        <div class="p-col">
            <div class="ui-inputgroup">
                <input type="number" formControlName="far" pInputText />
            </div>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col">
            {{'projects.project.graph.components.view3d.properties.antiAlias.lbl' | translate}}
        </div>
        <div class="p-col">
            <div class="ui-inputgroup">
                <p-checkbox formControlName="antiAlias" [binary]="true"></p-checkbox>
            </div>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col">
            {{'projects.project.graph.components.view3d.properties.viewOrigin.lbl' | translate}}
        </div>
        <div class="p-col">
            <div class="ui-inputgroup">
                <p-checkbox formControlName="viewOrigin" [binary]="true"></p-checkbox>
            </div>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col">
            {{'projects.project.graph.components.view3d.properties.originSize.lbl' | translate}}
        </div>
        <div class="p-col">
            <div class="ui-inputgroup">
                <input type="number" min="1" formControlName="originSize" pInputText />
            </div>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col">
            {{'projects.project.graph.components.view3d.properties.control.lbl' | translate}}
        </div>
        <div class="p-col">
            <div class="ui-inputgroup">
                <p-selectButton [options]="controlOptions" formControlName="control"></p-selectButton>
            </div>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col">
            {{'projects.project.graph.components.view3d.properties.camera-up.lbl' | translate}}
        </div>
        <div class="p-col">
            <div class="ui-inputgroup">
                <p-selectButton [options]="upVectorOptions" formControlName="up"></p-selectButton>
            </div>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col">
            {{'projects.project.graph.components.view3d.properties.grid.lbl' | translate}}
        </div>
        <div class="p-col">
            <div class="ui-inputgroup">
                <p-checkbox formControlName="grid" [binary]="true"></p-checkbox>
            </div>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col">
            {{'projects.project.graph.components.view3d.properties.gridSize.lbl' | translate}}
        </div>
        <div class="p-col">
            <div class="ui-inputgroup">
                <input type="number" min="1" formControlName="gridSize" pInputText />
            </div>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col">
            {{'projects.project.graph.components.view3d.properties.gridDivisions.lbl' | translate}}
        </div>
        <div class="p-col">
            <div class="ui-inputgroup">
                <input type="number" min="1" formControlName="gridDivisions" pInputText />
            </div>
        </div>
    </div>
</form>