<p-panel styleClass="node">
    <p-header>
        {{nodeData!.name}}
    </p-header>
    <div class="p-grid p-justify-end">
        <div class="p-col-2">
            <button pButton type="button" icon="pi pi-file-o" class="ui-button-secondary" (click)="editScript()"></button>
        </div>
        <div class="p-col-2">
            <button pButton type="button" icon="pi pi-cog" class="ui-button-secondary" (click)="editProperties()"></button>
        </div>
    </div>
    <div class="p-grid" *ngFor="let input of inputs">
        <div class="p-col">
            <rete-socket rete-socket [io]="input" [socket]="input.socket"></rete-socket>
        </div>
        <div class="p-col">
            <input type="text" pInputText [(ngModel)]="nodeData.variables[input.key]" />
        </div>
    </div>
    <div class="p-grid p-justify-end" *ngFor="let output of outputs" style="text-align: right;">
        <div class="p-col">
            {{output.name}}
        </div>
        <div class="p-col-2">
            <rete-socket rete-socket [io]="output" [socket]="output.socket"></rete-socket>
        </div>
    </div>
</p-panel>