<form [formGroup]="formGroup" (ngSubmit)="triggerSubmit()">
    <div class="p-grid">
        <div class="p-col">
            {{'projects.project.graph.components.chart.properties.name.lbl' | translate}}
        </div>
        <div class="p-col">
            <div class="ui-inputgroup">
                <input type="text" formControlName="name" pInputText />
            </div>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col">
            {{'projects.project.graph.components.chart.properties.animation.lbl' | translate}}
        </div>
        <div class="p-col">
            <div class="ui-inputgroup">
                <p-checkbox formControlName="animation" [binary]="true"></p-checkbox>
            </div>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col">
            {{'projects.project.graph.components.chart.properties.pan.lbl' | translate}}
        </div>
        <div class="p-col">
            <div class="ui-inputgroup">
                <p-selectButton [options]="zoomPanOptions" formControlName="pan"></p-selectButton>
            </div>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col">
            {{'projects.project.graph.components.chart.properties.zoom.lbl' | translate}}
        </div>
        <div class="p-col">
            <div class="ui-inputgroup">
                <p-selectButton [options]="zoomPanOptions" formControlName="zoom"></p-selectButton>
            </div>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col">
            {{'projects.project.graph.components.chart.properties.tooltipFractionDigits.lbl' | translate}}
        </div>
        <div class="p-col">
            <div class="ui-inputgroup">
                <input type="number" min="0" max="20" step="1" formControlName="tooltipFractionDigits" pInputText />
            </div>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col">
            {{'projects.project.graph.components.chart.properties.lineTension.lbl' | translate}}
        </div>
        <div class="p-col">
            <div class="ui-inputgroup">
                <input type="number" min="0" max="4" step="0.1" formControlName="lineTension" pInputText />
            </div>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col">
            {{'projects.project.graph.components.chart.properties.x-scaling-type.lbl' | translate}}
        </div>
        <div class="p-col">
            <div class="ui-inputgroup">
                <p-selectButton [options]="scalingTypeOptions" formControlName="xScalingType"></p-selectButton>
            </div>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col">
            {{'projects.project.graph.components.chart.properties.y-scaling-type.lbl' | translate}}
        </div>
        <div class="p-col">
            <div class="ui-inputgroup">
                <p-selectButton [options]="scalingTypeOptions" formControlName="yScalingType"></p-selectButton>
            </div>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col">
            {{'projects.project.graph.components.chart.properties.axis-scaling.lbl' | translate}}
        </div>
        <div class="p-col">
            <div class="ui-inputgroup">
                <p-selectButton [options]="axisScalingOptions" formControlName="axisScaling"></p-selectButton>
            </div>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col">
            {{'projects.project.graph.components.chart.properties.axis-scaling-x-axis-min.lbl' | translate}}
        </div>
        <div class="p-col">
            <div class="ui-inputgroup">
                <input type="number" formControlName="axisScalingXAxisMin" pInputText />
            </div>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col">
            {{'projects.project.graph.components.chart.properties.axis-scaling-x-axis-max.lbl' | translate}}
        </div>
        <div class="p-col">
            <div class="ui-inputgroup">
                <input type="number" formControlName="axisScalingXAxisMax" pInputText />
            </div>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col">
            {{'projects.project.graph.components.chart.properties.axis-scaling-y-axis-min.lbl' | translate}}
        </div>
        <div class="p-col">
            <div class="ui-inputgroup">
                <input type="number" formControlName="axisScalingYAxisMin" pInputText />
            </div>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col">
            {{'projects.project.graph.components.chart.properties.axis-scaling-y-axis-max.lbl' | translate}}
        </div>
        <div class="p-col">
            <div class="ui-inputgroup">
                <input type="number" formControlName="axisScalingYAxisMax" pInputText />
            </div>
        </div>
    </div>
</form>