<form [formGroup]="formGroup" (ngSubmit)="triggerSubmit()">
    <div class="p-grid">
        <div class="p-col">
            {{'projects.project.graph.components.chart.properties.name.lbl' | translate}}
        </div>
        <div class="p-col">
            <div class="ui-inputgroup">
                <input type="text" formControlName="name" pInputText />
            </div>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col">
            {{'projects.project.graph.components.chart.properties.animation.lbl' | translate}}
        </div>
        <div class="p-col">
            <div class="ui-inputgroup">
                <p-checkbox formControlName="animation" [binary]="true"></p-checkbox>
            </div>
        </div>
    </div>
</form>