@import '~codemirror/lib/codemirror.css';
@import '~codemirror/addon/hint/show-hint.css';

/* You can add global styles to this file, and also import other style files */

/* center the process-spinner in blockui */
.ui-blockui {
  opacity: 1;
  background: rgba(102, 102, 102, 0.3);

  .ui-progress-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 75px;
    height: 75px;
  }
}

.ui-inputtext {
  width: 100%;
}
