<div class="p-grid">
    <div class="p-col-3 p-offset-3">
        <p-card header="Runner">
            <div>Execute a created project.</div>
            <p-footer>
                <button pButton type="button" label="Run" icon="pi pi-play" [routerLink]="['/runner']" class="ui-button-secondary"></button>
            </p-footer>
        </p-card>
    </div>
    <div class="p-col-3">
        <p-card header="Projects">
            Create a individual project.
            <p-footer>
                <button pButton type="button" label="Edit" icon="pi pi-user-edit" [routerLink]="['/projects']" class="ui-button-secondary"></button>
            </p-footer>
        </p-card>
    </div>
</div>